# 225229138-Lab-12

# Database programming using sqlite3

Question1. Perform CRUD operations on Student Table as outlined in the reference
(https://medium.com/analytics-vidhya/programming-with-databases-in-python-using-
sqlite4cecbef51ab9 ).

In [2]:
import sqlite3
conn = sqlite3.connect('student.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS STUDENT")
query = """CREATE TABLE STUDENT(
        ID INT PRIMARY KEY NOT NULL,
        NAME CHAR(20) NOT NULL, 
        ROLL CHAR(20), 
        ADDRESS CHAR(50), 
        CLASS CHAR(20) )"""
cursor.execute(query)
conn.commit()
conn.close()

In [22]:
import sqlite3
conn = sqlite3.connect('student.db')
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
             "VALUES (1, 'Sowmi', '101', 'Trichy', 'Maths')")
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
             "VALUES (2, 'Deepa', '102', 'Trichy', 'Data science')")
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
             "VALUES (3, 'Pavi', '103', 'Bangalore', 'Chemistry')")
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
             "VALUES (4, 'Vini', '104', 'Hyderabad', 'Statistics')")
conn.commit()
conn.close()

In [23]:
import sqlite3
conn = sqlite3.connect('student.db')
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()

[(1, 'Sowmi', '101', 'Trichy', 'Maths'), (2, 'Deepa', '102', 'Trichy', 'Data science'), (3, 'Pavi', '103', 'Bangalore', 'Chemistry'), (4, 'Vini', '104', 'Hyderabad', 'Statistics')]

In [25]:
import sqlite3
conn = sqlite3.connect('student.db')
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()

[(1, 'Sowmi', '101', 'Trichy', 'Maths'), (2, 'Deepa', '102', 'Trichy', 'Data science'), (3, 'Pavi', '103', 'Bangalore', 'Chemistry'), (4, 'Vini', '104', 'Hyderabad', 'Statistics')]

In [27]:
import sqlite3
conn = sqlite3.connect('student.db')
conn.execute("UPDATE STUDENT set ROLL = 005 where ID = 1")
conn.commit()
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()

[(1, 'Sowmi', '5', 'Trichy', 'Maths'), (2, 'Deepa', '102', 'Trichy', 'Data science'), (3, 'Pavi', '103', 'Bangalore', 'Chemistry'), (4, 'Vini', '104', 'Hyderabad', 'Statistics')]

In [29]:
import sqlite3
conn = sqlite3.connect('student.db')
conn.execute("DELETE from STUDENT where ID = 2;")
conn.commit()
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())
conn.close()

[(1, 'Sowmi', '5', 'Trichy', 'Maths'), (3, 'Pavi', '103', 'Bangalore', 'Chemistry'), (4, 'Vini', '104', 'Hyderabad', 'Statistics')]

Question2. Open the table MyRestaurants.db that you have created for NoSQL course

In [2]:
import sqlite3
conn = sqlite3.connect('MyRestaurant.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS MyRestaurant")
query = """CREATE TABLE MyRestaurant(
        NAME CHAR(20) NOT NULL, 
        FOODTYPE CHAR(20), 
        DISTANCE CHAR(50), 
        LASTVISIT DATE,
        ILIKE CHAR(10))"""
cursor.execute(query)
conn.commit()
conn.close()

In [3]:
import sqlite3
conn = sqlite3.connect('MyRestaurant.db')
conn.execute("INSERT INTO MyRestaurant (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) "
             "VALUES ('Apple_leaf', 'veg', '10', '01-jan-2020', '1')")
conn.execute("INSERT INTO MyRestaurant (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) "
             "VALUES ('littlechina', 'chinese', '20', '12-jun-2020', '0')")
conn.execute("INSERT INTO MyRestaurant (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) " 
             "VALUES ('Hakkims', 'nonveg', '30', '10-feb-2020', '1')")
conn.execute("INSERT INTO MyRestaurant (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) " 
             "VALUES ('Kannappa', 'nonveg', '15', '15-mar-2020', '1')")
conn.execute("INSERT INTO MyRestaurant (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) " 
             "VALUES ('Chinaworld', 'chinese', '25', '14-jul-2020', '2')")
conn.commit()
conn.close()

In [4]:
import sqlite3
conn = sqlite3.connect('MyRestaurant.db')
cursor = conn.execute("SELECT * from MyRestaurant")
print(cursor.fetchall())
conn.close()

[('Apple_leaf', 'veg', '10', '01-jan-2020', '1'), ('littlechina', 'chinese', '20', '12-jun-2020', '0'), ('Hakkims', 'nonveg', '30', '10-feb-2020', '1'), ('Kannappa', 'nonveg', '15', '15-mar-2020', '1'), ('Chinaworld', 'chinese', '25', '14-jul-2020', '2')]

Question3. Write a SQL query that returns all restaurants in your table MyRestaurants.db.

In [5]:
import sqlite3
conn = sqlite3.connect('MyRestaurant.db')
cursor = conn.execute("SELECT name from MyRestaurant")
print(cursor.fetchall())
conn.close()

[('Apple_leaf',), ('littlechina',), ('Hakkims',), ('Kannappa',), ('Chinaworld',)]

Question4. Write a SQL query that returns the names of restaurants in descending order that
makes Chinese foods.

In [7]:
import sqlite3
conn = sqlite3.connect('MyRestaurant.db')
cursor = conn.execute("SELECT name from MyRestaurant where foodtype='chinese'order by name")
print(cursor.fetchall())
conn.close()

[('Chinaworld',), ('littlechina',)]